# macOS Finder metadata
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Legacy Yarn cache
.yarn/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

node_modules/
.npm

.eslintcache

# Generated package bundles
dist/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
